
.DS_Store
Tested Models/RNN Tested on houses/.ipynb_checkpoints/RNN 10-checkpoint.ipynb
Tested Models/RNN Tested on houses/.ipynb_checkpoints/RNN 35-checkpoint.ipynb
Tested Models/RNN Tested on houses/.ipynb_checkpoints/RNN 60-checkpoint.ipynb
